/* Custom CSS variables */
:root {
  --darkred: #8b0000;
  --darkgreen: #006400;
  --white: #ffffff;
  --pastelblue: #f1f4ff;
  --SeaGreen: #2e8b57;
  --black: #000;
  --fontsize: 1.1em;
  --fontweight: 400;
}

/* Resetting styles for all elements */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Body styling */
body {
  display: grid;
  place-items: center;
  height: 100vh;
  color: var(--white);
  background-color: var(--pastelblue);
  font-family: "Poppins", sans-serif;
}

/* Calculator styling */
.calculator {
  background-color: var(--SeaGreen);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  max-width: 350px;
  height: 480px;
  border-radius: 8px;
  padding: 12px;
  margin: 8px;
  z-index: 1;
  font-size: var(--fontsize);
  font-weight: var(--fontweight);
}

/* Display input styling */
#display {
  grid-column: span 3;
  padding: 18px 12px;
  text-align: right;
  margin-bottom: 18px;
  border: none;
  outline: none;
  font-size: var(--fontsize);
  font-weight: var(--fontweight);
}

/* Common styling for all buttons */
button {
  padding: 8px;
  font-size: var(--fontsize);
  font-weight: var(--fontweight);
  cursor: pointer;
  background-color: var(--black);
  color: var(--white);
  border: none;
  border-radius: 4px;
}

/* specific Styling for clearDisplay buttons */
#clearDisplay {
  background-color: var(--darkred);
}
/* specific Styling for calculateResult buttons */
#calculateResult {
  background-color: var(--darkgreen);
  grid-row: span 2;
}
